body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
	background-size: cover;
	scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

@font-face {
  font-family: title;
  src: url(../fonts/franklin_gothic_book.ttf);
}

.banner
{
	padding-top: 60px;
	background: url(../images/sky.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	transition: 2s;
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
}

#banner
{
	padding-top: 90px;
	background: url(../images/sky.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	transition: 2s;
	border-bottom-right-radius: 0%;
	border-bottom-left-radius: 0%;
}

nav
{
	height: 60px;
	width: 100%;
	z-index: 1000;
	position: fixed;
	top: 0;
	background: transparent;
	transition: 0.4s;
}

nav img
{
	height: 50px;
	position: absolute;
	top: 5px;
	left: 12%;
	transition: 0.4s;
}

nav ul
{
	float: right;
	margin-right: 12%;
	list-style: none;
	margin-bottom: 0;
}

nav ul li
{
	display: inline-block;
	line-height: 70px;
	margin: 0 15px;
	transition: 0.4s;
}

nav ul li a
{
	position: relative;
	color: rgba(255,255,255,1);
	font-size: 18px;
	padding: 10px 0;
	transition: 0.4s;
}

nav ul li a:hover
{
	text-decoration: none;
	color: #393185;
}

nav ul li a:before
{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background: #e85022;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .4s linear;
}

nav ul li:hover a:before
{
	transform: scaleX(1);
	transform-origin: left;
}

.active a:before
{
	transform: scaleX(1);
	transform-origin: left;
}

label
{
	display: initial;
}

label #bars
{
	color: #fff;
	font-size: 24px;
	float: right;
	margin-right: 40px;
	cursor: pointer;
	margin-top: 18px;
	display: none;
	transition: .2s linear;
}

#check
{
	display: none;
}

@media (max-width: 944px)
{
	nav img
	{
		left: 8%;
	}

	nav ul
	{
		margin-right: 8%;
	}
	
	nav ul li a
	{
		font-size: 17px;
	}
}

@media (max-width: 740px)
{
	label #bars
	{
		display: block;
		line-height: 30;
	}

	nav
	{
		height: 60px;
	}

	nav ul
	{
		position: fixed;
		width: 40%;
		height: 100vh;
		background: #eae5e5;
		top: 60px;
		right: -100%;
		text-align: center;
		transition: all .5s;
		padding: 0;
		z-index: 500;
		border-top: 1px solid rgba(0,0,0,0.5);
	}

	nav ul li
	{
		display: block;
		transition: 5s;
		line-height: 60px;
	}

	nav ul li a
	{
		font-size: 15px;
		color: #393185;
	}

	nav ul li a:nth-child(1)
	{
		left: 200px;
		transition: ease-in .4s;
	}
	nav ul li:nth-child(2) a
	{
		left: 225px;
		transition: ease-in .45s;
	}
	nav ul li:nth-child(3) a
	{
		left: 250px;
		transition: ease-in .5s;
	}
	nav ul li:nth-child(4) a
	{
		left: 275px;
		transition: ease-in .55s;
	}

	nav img
	{
		left: 8%;
		top: 5px;
		height: 50px;
	}
	
	nav ul li a
	{
		font-size: 15px;
	}

	#check:checked ~ ul
	{
		right: 0;
		margin-right: 0;
		padding-right: 0;
	}

	#check:checked ~ ul li a
	{
		left: 0;
	}
}

@media(max-width: 420px)
{
	nav ul li a
	{
		font-size: 14px;
	}
}

@media(max-width: 345px)
{
	nav ul li a
	{
		font-size: 13px;
	}
}

.banner-title
{
	font-size: 60px;
	line-height: 70px;
	margin-bottom: 3%;
	font-weight: 600;
	font-family: 'Roboto Condensed', sans-serif;
}

.banner-caption
{
	font-size: 27px;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 50px;
	color: rgba(255,255,255,0.85);
	margin-bottom: 2%;
}

@media(max-width: 500px)
{
	.banner-title
	{
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 40px;
	}

	.banner-caption
	{
		font-size: 25px;
		line-height: 46px;
	}
}

@media(max-height: 760px) and (max-width: 600px)
{
	.banner-title
	{
		font-size: 45px;
		line-height: 50px;
		margin-bottom: 30px;
	}

	.banner-caption
	{
		font-size: 20px;
		line-height: 40px;
	}
}

@media(max-height: 720px) and (max-width: 600px)
{
	#banner
	{
		padding-top: 70px;
	}

	.banner-title
	{
		font-size: 45px;
		line-height: 50px;
		margin-bottom: 25px;
	}

	.banner-caption
	{
		font-size: 20px;
		line-height: 35px;
	}
}

@media(max-height: 670px) and (max-width: 600px)
{
	#banner
	{
		padding-top: 60px;
	}

	.banner-title
	{
		font-size: 43px;
		line-height: 50px;
		margin-bottom: 30px;
	}

	.banner-caption
	{
		font-size: 20px;
		line-height: 35px;
	}
}

@media(max-height: 660px) and (max-width: 600px)
{
	#banner
	{
		padding-top: 60px;
	}

	.banner-title
	{
		font-size: 43px;
		line-height: 50px;
		margin-bottom: 30px;
	}

	.banner-caption
	{
		font-size: 20px;
		line-height: 31px;
	}
}

@media(max-height: 600px) and (max-width: 600px)
{
	#banner
	{
		padding-top: 50px;
	}

	.banner-title
	{
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 30px;
	}

	.banner-caption
	{
		font-size: 17px;
		line-height: 32px;
	}
}

#notnav
{
	position: fixed;
	height: 200vh;
	width: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 200;
	top: -200px;
}

.nodisplay
{
	display: none;
}

.subname
{
	font-size: 50px;
	font-family: title;
	margin-bottom: 0;
}

@media(max-width: 773px)
{
	.subname
	{
		font-size: 40px;
	}
}

@media(max-width: 481px)
{
	.subname
	{
		font-size: 35px;
	}
}

@media(max-width: 351px)
{
	.subname
	{
		font-size: 30px;
	}
}


.img-strip
{
	overflow: hidden;
	width: 100%;
	height: 200px;
	position: relative;
}

.image-move
{
	position: absolute;
	height: 200px;
	width: 25%;
	overflow: hidden;
	transition: 1s;
}

.img-client-home
{
	width: 50%;
	position: absolute;
	margin-left: 25%;
}

@media(max-width: 800px)
{
	.img-client-home
	{
		width: 60%;
		margin-left: 20%;
	}
}

@media(max-width: 550px)
{
	.img-client-home
	{
		width: 70%;
		margin-left: 15%;
	}
}

@media(max-width: 400px)
{
	.img-client-home
	{
		width: 80%;
		margin-left: 10%;
	}
}

.review-btn
{
	width: 20%;
	font-size: 18px;
}

@media(max-width: 991px)
{
	.review-btn
	{
		font-size: 16px;
	}
}

@media(max-width: 767px)
{
	.review-btn
	{
		font-size: 14px;
		width: 30%;
	}
}

@media(max-width: 417px)
{
	.review-btn
	{
		font-size: 12px;
	}
}

@media(max-width: 374px)
{
	.review-btn
	{
		font-size: 12px;
		padding-right: 5px;
		padding-left: 5px;
	}
}

@media(max-width: 328px)
{
	.review-btn
	{
		font-size: 12px;
		padding-right: 3px;
		padding-left: 3px;
	}
}

.proud-client
{
	color: #090729;
}

.home-goals
{
	background: url(../images/snowfall.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.home-product
{
	width: 100%;
}

.photo-stack {
  position: relative;
  margin: auto;
  width: 350px;
  height: 300px;
  transition: 1s;
}
.photo-stack img {
  position: absolute;
  width: 350px;
  top: 0;
  left: 0;
  border: 1px solid white;
  box-shadow: 0 1px 3px -2px rgba(0,0,0,.5);
  transition: all 0.3s ease-out;
}

@media(max-width: 1200px)
{
	.photo-stack
	{
		width: 300px;
	}
	.photo-stack img
	{
		width: 300px;
	}
}

@media(max-width: 1068px)
{
	.photo-stack
	{
		width: 250px;
	}
	.photo-stack img
	{
		width: 250px;
	}
}

@media(max-width: 948px)
{
	.photo-stack
	{
		width: 225px;
	}
	.photo-stack img
	{
		width: 225px;
	}
}

.photo-stack img:nth-child(1) {
  z-index: 99;
}
.photo-stack img:nth-child(2) {
  transform: rotate3d(0,0,1,3deg);
}
.photo-stack img:nth-child(3) {
  transform: rotate3d(0,0,1,-3deg);
}
.photo-stack img:nth-child(4) {
  transform: rotate3d(0,0,1,2deg);
}

.photo-stack:hover img:nth-child(1) {
  transform: scale(1.02);
}
.photo-stack:hover img:nth-child(2) {
  transform: translate3d(10%, 0, 0) rotate3d(0,0,1,3deg);
}
.photo-stack:hover img:nth-child(3) {
  transform: translate3d(-10%, 0, 0) rotate3d(0,0,1,-3deg);
}
.photo-stack:hover img:nth-child(4) {
  transform: translate3d(2%, -5%, 0) rotate3d(0,0,1,2deg);
}
.photo-stack:hover img:nth-child(5) {
  transform: translate3d(-5%, -2%, 0) rotate3d(0,0,1,2deg);
}
  
.home-happy
{
	font-family: title;
	font-size: 25px;
}

@media(max-width: 992px)
{
	.home-happy
	{
		font-size: 22px;
	}
}

@media(max-width: 767px)
{
	.home-happy
	{
		font-size: 17px;
	}
}

@media(max-width: 440px)
{
	.home-happy
	{
		font-size: 15px;
	}
}

@media(max-width: 350px)
{
	.home-happy
	{
		font-size: 13px;
	}
}

.home-profile-info
{
	font-family: title;
	font-size: 20px;
}

@media(max-width: 1200px)
{
	.home-profile-info
	{
		font-size: 18px;
	}
}

@media(max-width: 1068px)
{
	.home-profile-info
	{
		font-size: 15px;
	}
}

.proudy
{
	background: #e8eafd;
}

.client-strip
{
	background: #fff;
}

.home-goal
{
	font-size: 19px;
	color: rgba(255,255,255,0.8);
}

@media(max-width: 1068px)
{
	.home-goal
	{
		font-size: 18px;
	}
}

@media(max-width: 773px)
{
	.home-goal
	{
		font-size: 16px;
	}
}

@media(max-width: 481px)
{
	.home-goal
	{
		font-size: 14px;
	}
}

#footer-image
{
	width: 20px;
}

#full-footer
{
	background: #2e373e;
}

.main-footer
{
	background: #1e272e;
	color: #eeeeee;
}

.footer-head
{
	font-size: 23px;
}

.footer-data
{
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}

.footer-social
{
	opacity: 0.95;
}

.credit-box
{
	background: #1e272e;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#credit-box-contact
{
	background: #fff;
}

.credit
{
	font-size: 10px;
	opacity: 0.11;
	transition: 0.4s;
	color: #fff;
}

.credit:hover
{
	opacity: 0.4;
}

@media(max-width: 991px)
{
	.credit
	{
		font-size: 8px;
	}
}

#credit-contact
{
	color: #000;
	opacity: 0.25;
}

#credit-contact:hover
{
	opacity: 0.55;
}

.copyright
{
	background: #2e373e;
	color: rgba(255,255,255,0.4);
}

.contact-set
{
	padding-bottom: 20px !important;
}

.ev_form
{
    border: 1px solid #e09b9b;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 2%;
}

.form-required-show
{
    text-align: right;
    font-size: 13px;
}

.form-required
{
    color: red;
}

.ev_btn
{
    width: 25%;
}

.txt-area
{
	resize: none;
	height: 100px !important;
}

.contact-about
{
	padding: 2%;
	margin: 10px 0 15px;
}

.contact-fa
{
	padding-right: 2px;
}

.contact-head
{
	font-family: sans-serif;
	font-size: 20px;
	padding: 5px 0;
	color: #000;
}

.contact-call
{
	font-family: sans-serif;
	color: rgba(21,69,115,0.8);
	font-size: 16px;
}

.contact-call:hover
{
	text-decoration: none;
}

.whatsapp-button
{
	margin-top: 5px;
	font-size: 16px;
}

.contact-info
{
	font-family: sans-serif;
	color: rgba(21,69,115,0.8);
	padding: 5px 0 10px;
	font-size: 16px;
}

.contact-social-btn
{
	margin-top: 5px;
}

.contact-set
{
	padding-bottom: 20px !important;
}

.contact-info-special
{
	font-family: sans-serif;
	color: rgba(0,0,0,0.75);
	padding: 5px 0;
	font-size: 16px;
}

.aboutus-bg
{
	background: #f5dcdc;
}

.leftist
{
	margin-top: 20px;
	transition: 2s;
}

.rightist
{
	margin-top: 20px;
	transition: 2s;
}

.width-changer
{
	width: 60%;
}

@media(max-width: 991px)
{
	.width-changer
	{
		width: 100%;
	}
}

.boom-opacity
{
	opacity: 0;
	transition: 0.7s;
}

.uni-contact-btn
{
	width: 60px;
	height: 60px;
	background: #f52c33;
	z-index: 400;
	bottom: 80px;
	right: 120px;
	line-height: 60px;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
	font-size: 40px;
	padding: 0 10px 0 10px;
	animation-name: boing;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	display: none;
}

.uni-contact-text
{
	display: none;
	font-size: 20px;
	vertical-align: top;
}

@media(max-width: 860px)
{
	.uni-contact-btn
	{
		right: 90px;
		bottom: 60px;
	}
}

@media(max-width: 771px)
{
	.uni-contact-btn
	{
		right: 70px;
		bottom: 40px;
		font-size: 30px;
		line-height: 50px;
		width: 50px;
		height: 50px;
	}

	.uni-contact-text
	{
		font-size: 18px;
	}
}

@media(max-width: 500px)
{
	.uni-contact-btn
	{
		right: 40px;
		bottom: 30px;
	}
}

@media(max-width: 400px)
{
	.uni-contact-btn
	{
		right: 30px;
		bottom: 25px;
	}
}

@keyframes boing
{
	0%{transform: scale(1);}
	1%{transform: scale(1.17);}
	2%{transform: scale(0.8);}
	3%{transform: scale(1);}
	100%{transform: scale(1);}
}

.uni-contact-btn:hover
{
	border-radius: 50px;
	width: auto;
	border: 1px solid rgba(0,0,0,0.6);
	animation-play-state: paused;
}

.uni-contact-icon
{
	opacity: 0;
	transition: 0.4s;
}

.uni-contact-btn:hover .uni-contact-text
{
	display: inline-block;
}

.contact-pop
{
	width: 90%;
	padding: 0 5% 0 5%;
	margin-left: 5%;
	z-index: 399;
	background: #fff;
	transition: 0.5s;
	border-radius: 10px;
	bottom: -1000px;
	border: 1px solid;
}

@media(min-width: 450px)
{
	.contact-pop
	{
		width: 400px;
		left: 50%;
		margin-left: -200px;
		padding: 0 20px 0 20px;
	}
}

@media(min-width: 850px)
{
	.contact-pop
	{
		width: 500px;
		left: 50%;
		margin-left: -250px;
		padding: 0 20px 0 20px;
	}
}

#pop-form
{
	font-size: 15px;
}

.pop-contact-input[placeholder]
{
	font-size: 15px;
}

.pop-contact-input
{
	height: 25px;
	display: inline;
}

.pop-txt-area
{
	resize: none;
	height: 50px;
}


@media(min-height: 750px)
{
	.pop-contact-input
	{
		height: auto;
		display: block;
	}
}

@media(min-height: 850px)
{
	.pop-txt-area
	{
		height: auto;
		display: block;
	}
}

#pop-submit
{
	font-size: 15px;
}

.close-pop
{
	font-size: 30px;
	cursor: pointer;
	vertical-align: middle;
}

#thank-pop
{
	width: 80%;
	z-index: 400;
	display: none;
}

@media(min-width: 450px)
{
	#thank-pop
	{
		width: 360px;
	}
}

@media(min-width: 850px)
{
	#thank-pop
	{
		width: 460px;
	}
}

.thank-pop-smile
{
	font-size: 90px;
}