body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
	background-size: cover;
	scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

@font-face {
  font-family: title;
  src: url(../fonts/franklin_gothic_book.ttf);
}

.banner
{
	padding-top: 90px;
	background: url(../images/sky.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

nav
{
	height: 50px;
	width: 100%;
	z-index: 1000;
	position: fixed;
	top: 0;
	background: transparent;
	transition: 0.4s;
}

nav img
{
	height: 40px;
	position: absolute;
	top: 5px;
	left: 12%;
}

nav ul
{
	float: right;
	margin-right: 12%;
	list-style: none;
	margin-bottom: 0;
}

nav ul li
{
	display: inline-block;
	line-height: 50px;
	margin: 0 15px;
}

nav ul li a
{
	position: relative;
	color: rgba(255,255,255,1);
	font-size: 18px;
	padding: 10px 0;
	transition: 0.4s;
}

nav ul li a:hover
{
	text-decoration: none;
	color: #393185;
}

nav ul li a:before
{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background: #e85022;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .4s linear;
}

nav ul li:hover a:before
{
	transform: scaleX(1);
	transform-origin: left;
}

.active a:before
{
	transform: scaleX(1);
	transform-origin: left;
}

label
{
	display: initial;
}

label #bars
{
	color: #fff;
	font-size: 20px;
	float: right;
	margin-right: 40px;
	cursor: pointer;
	margin-top: 15px;
	display: none;
	transition: .2s linear;
}

#check
{
	display: none;
}

@media (max-width: 944px)
{
	nav img
	{
		left: 8%;
	}

	nav ul
	{
		margin-right: 8%;
	}
	
	nav ul li a
	{
		font-size: 17px;
	}
}

@media (max-width: 740px)
{
	label #bars
	{
		display: block;
		line-height: 30;
	}

	nav ul
	{
		position: fixed;
		width: 40%;
		height: 100vh;
		background: #eae5e5;
		top: 50px;
		right: -100%;
		text-align: center;
		transition: all .5s;
		padding: 0;
		z-index: 500;
		border-top: 1px solid rgba(0,0,0,0.5);
	}

	nav ul li
	{
		display: block;
		transition: 5s;
	}

	nav ul li a
	{
		font-size: 15px;
		color: #393185;
	}

	nav ul li a:nth-child(1)
	{
		left: 200px;
		transition: ease-in .4s;
	}
	nav ul li:nth-child(2) a
	{
		left: 225px;
		transition: ease-in .45s;
	}
	nav ul li:nth-child(3) a
	{
		left: 250px;
		transition: ease-in .5s;
	}
	nav ul li:nth-child(4) a
	{
		left: 275px;
		transition: ease-in .55s;
	}

	nav img
	{
		left: 8%;
	}
	
	nav ul li a
	{
		font-size: 15px;
	}

	#check:checked ~ ul
	{
		right: 0;
		margin-right: 0;
		padding-right: 0;
	}

	#check:checked ~ ul li a
	{
		left: 0;
	}
}

@media(max-width: 420px)
{
	nav ul li a
	{
		font-size: 14px;
	}
}

@media(max-width: 345px)
{
	nav ul li a
	{
		font-size: 13px;
	}
}

.banner-title
{
	font-size: 43px;
	line-height: 55px;
	margin-bottom: 10px;
	font-weight: 600;
	font-family: 'Roboto Condensed', sans-serif;
}

@media(max-width: 767px)
{
	.banner-title
	{
		font-size: 38px;
		line-height: 50px;
		margin-bottom: 0;
	}
}

.banner-caption
{
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 40px;
}

#notnav
{
	position: fixed;
	height: 200vh;
	width: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 200;
	top: -200px;
}

.nodisplay
{
	display: none;
}

.banner-name
{
	font-family: title;
	color: #393185;
	text-shadow: 1px 0 0 #e85022, -1px 0 0 #e85022, 0 1px 0 #e85022, 0 -1px 0 #e85022, 1px 1px 0 #e85022, 1px -1px 0 #e85022, -1px 1px 0 #e85022, -1px -1px 0 #e85022;
	font-size: 50px;
}
.click
{
	transform: rotate(-90deg);
	position: fixed;
	bottom: 250px;
	width: 100px;
	right: -35px;
	transition: .5s;
	margin-right: -50px;
	background: #e85022;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: #fff;
	cursor: pointer;
	z-index: 199;
}

.bait
{
	position: fixed;
	bottom: 212px;
	right: -55px;
	transition: .5s;
	height: 100px;
	line-height: 25px;
	padding-left: 15px;
	margin-right: -50px;
	background: #e85022;
	z-index: 199;
}

.subname
{
	font-size: 50px;
	font-family: title;
	margin-bottom: 0;
}

@media(max-width: 773px)
{
	.subname
	{
		font-size: 40px;
	}
}

@media(max-width: 481px)
{
	.subname
	{
		font-size: 35px;
	}
}

@media(max-width: 351px)
{
	.subname
	{
		font-size: 30px;
	}
}

.t1
{
	position: relative;
	overflow: hidden;
	height: 200px;
}

.a1
{
	position: absolute;
	width: 100%;
	animation-name: scrolling;
	animation-duration: 28s;
	animation-iteration-count: infinite;
	visibility: visible;
	animation-timing-function: linear;
}

.a2
{
	position: absolute;
	width: 100%;
	animation-name: scrollingtwo;
	animation-duration: 28s;
	animation-iteration-count: infinite;
	visibility: visible;
	animation-timing-function: linear;
}

.a3
{
	position: absolute;
	width: 100%;
	animation-name: scrollingtwo;
	animation-duration: 28s;
	animation-iteration-count: infinite;
	visibility: visible;
	animation-timing-function: linear;
	animation-delay: 7s;
	left: 100%;
}

.a4
{
	position: absolute;
	width: 100%;
	animation-name: scrollingtwo;
	animation-duration: 28s;
	animation-iteration-count: infinite;
	visibility: visible;
	animation-timing-function: linear;
	animation-delay: 14s;
	left: 100%;
}

@keyframes scrolling
{
	0%{left: 0; visibility: visible;}
	25%{left: -100%; visibility: hidden;}
	75%{left: 100%; visibility: hidden;}
	100%{left: 0; visibility: visible;}
}

@keyframes scrollingtwo
{
	0%{left: 100%; visibility: visible;}
	50%{left: -100%; visibility: hidden;}
	100%{left: 100%; visibility: hidden;}
}

.test
{
	position: absolute;
	width: 19%;
}

.t1 .a1 img:nth-child(1),
.t1 .a2 img:nth-child(1),
.t1 .a3 img:nth-child(1),
.t1 .a4 img:nth-child(1)
{
	margin-left: 3%;
	margin-right: 3%;
}

.t1 .a1 img:nth-child(2),
.t1 .a2 img:nth-child(2),
.t1 .a3 img:nth-child(2),
.t1 .a4 img:nth-child(2)
{
	margin-left: 28%;
	margin-right: 3%;
}

.t1 .a1 img:nth-child(3),
.t1 .a2 img:nth-child(3),
.t1 .a3 img:nth-child(3),
.t1 .a4 img:nth-child(3)
{
	margin-left: 53%;
	margin-right: 3%;
}

.t1 .a1 img:nth-child(4),
.t1 .a2 img:nth-child(4),
.t1 .a3 img:nth-child(4),
.t1 .a4 img:nth-child(4)
{
	margin-left: 78%;
	margin-right: 320
}

.review-btn
{
	width: 20%;
	font-size: 18px;
}

@media(max-width: 991px)
{
	.review-btn
	{
		font-size: 16px;
	}
}

@media(max-width: 767px)
{
	.review-btn
	{
		font-size: 14px;
		width: 30%;
	}
}

@media(max-width: 417px)
{
	.review-btn
	{
		font-size: 12px;
	}
}

@media(max-width: 374px)
{
	.review-btn
	{
		font-size: 12px;
		padding-right: 5px;
		padding-left: 5px;
	}
}

@media(max-width: 328px)
{
	.review-btn
	{
		font-size: 12px;
		padding-right: 3px;
		padding-left: 3px;
	}
}

.proud
{
	background: rgba(0,0,0,0.04);
}

#proud-client
{
	background: rgba(0,0,0,0.04);
}

.home-product
{
	width: 100%;
}

.photo-stack {
  position: relative;
  margin: auto;
  width: 350px;
  height: 300px;
}
.photo-stack img {
  position: absolute;
  width: 350px;
  top: 0;
  left: 0;
  border: 1px solid white;
  box-shadow: 0 1px 3px -2px rgba(0,0,0,.5);
  transition: all 0.3s ease-out;
}

@media(max-width: 1200px)
{
	.photo-stack
	{
		width: 300px;
	}
	.photo-stack img
	{
		width: 300px;
	}
}

@media(max-width: 1068px)
{
	.photo-stack
	{
		width: 250px;
	}
	.photo-stack img
	{
		width: 250px;
	}
}

@media(max-width: 948px)
{
	.photo-stack
	{
		width: 225px;
	}
	.photo-stack img
	{
		width: 225px;
	}
}

.photo-stack img:nth-child(1) {
  z-index: 99;
}
.photo-stack img:nth-child(2) {
  transform: rotate3d(0,0,1,3deg);
}
.photo-stack img:nth-child(3) {
  transform: rotate3d(0,0,1,-3deg);
}
.photo-stack img:nth-child(4) {
  transform: rotate3d(0,0,1,2deg);
}

.photo-stack:hover img:nth-child(1) {
  transform: scale(1.02);
}
.photo-stack:hover img:nth-child(2) {
  transform: translate3d(10%, 0, 0) rotate3d(0,0,1,3deg);
}
.photo-stack:hover img:nth-child(3) {
  transform: translate3d(-10%, 0, 0) rotate3d(0,0,1,-3deg);
}
.photo-stack:hover img:nth-child(4) {
  transform: translate3d(2%, -5%, 0) rotate3d(0,0,1,2deg);
}
.photo-stack:hover img:nth-child(5) {
  transform: translate3d(-5%, -2%, 0) rotate3d(0,0,1,2deg);
}
  
.home-happy
{
	font-family: title;
	font-size: 25px;
}

@media(max-width: 992px)
{
	.home-happy
	{
		font-size: 22px;
	}
}

@media(max-width: 767px)
{
	.home-happy
	{
		font-size: 17px;
	}
}

@media(max-width: 440px)
{
	.home-happy
	{
		font-size: 15px;
	}
}

@media(max-width: 350px)
{
	.home-happy
	{
		font-size: 13px;
	}
}

.home-profile-info
{
	font-family: title;
	font-size: 20px;
}

@media(max-width: 1200px)
{
	.home-profile-info
	{
		font-size: 18px;
	}
}

@media(max-width: 1068px)
{
	.home-profile-info
	{
		font-size: 15px;
	}
}

.home-goal
{
	font-size: 19px;
}

@media(max-width: 1068px)
{
	.home-goal
	{
		font-size: 18px;
	}
}

@media(max-width: 773px)
{
	.home-goal
	{
		font-size: 16px;
	}
}

@media(max-width: 481px)
{
	.home-goal
	{
		font-size: 14px;
	}
}

#footer-image
{
	width: 20px;
}

#full-footer
{
	background: #2e373e;
}

.main-footer
{
	background: #1e272e;
	color: #eeeeee;
}

.footer-head
{
	font-size: 23px;
}

.footer-data
{
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}

.footer-social
{
	opacity: 0.95;
}

.credit-box
{
	background: #1e272e;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.credit
{
	font-size: 10px;
	opacity: 0.11;
	transition: 0.4s;
	color: #fff;
}

.credit:hover
{
	opacity: 0.4;
}

@media(max-width: 991px)
{
	.credit
	{
		font-size: 8px;
	}
}

.copyright
{
	background: #2e373e;
	color: rgba(255,255,255,0.4);
}

.contact-set
{
	padding-bottom: 20px !important;
}

.ev_form
{
    border: 1px solid #e09b9b;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 2%;
}

.form-required-show
{
    text-align: right;
    font-size: 13px;
}

.form-required
{
    color: red;
}

.ev_btn
{
    width: 25%;
}

.txt-area
{
	resize: none;
	height: 100px !important;
}

.contact-about
{
	padding: 2%;
	margin: 10px 0 15px;
}

.contact-fa
{
	padding-right: 2px;
}

.contact-head
{
	font-family: sans-serif;
	font-size: 20px;
	padding: 5px 0;
	color: #000;
}

.contact-call
{
	font-family: sans-serif;
	color: rgba(21,69,115,0.8);
	font-size: 16px;
}

.contact-call:hover
{
	text-decoration: none;
}

.whatsapp-button
{
	margin-top: 5px;
	font-size: 16px;
}

.contact-info
{
	font-family: sans-serif;
	color: rgba(21,69,115,0.8);
	padding: 5px 0 10px;
	font-size: 16px;
}

.contact-social-btn
{
	margin-top: 5px;
}

.contact-set
{
	padding-bottom: 20px !important;
}

.contact-info-special
{
	font-family: sans-serif;
	color: rgba(0,0,0,0.75);
	padding: 5px 0;
	font-size: 16px;
}

.icon-color
{
	color: #393185;
	opacity: 0.7;
}